<%=link_to '< Go back', user_url(@user.id), class: 'back-button' %>

<section>
 <div class='card_container'>
      <img alt='This is an image' src='<%=@user.photo%>' class='user_image'/>
      <div class='user-info'>
        <p><%= link_to @user.name, @user, class: 'user-name' %></p>
        <p>Number of posts: <%= @user.posts_counter%></p>
      </div>
    </div>
</section>

<section>
  <% @posts.each do |post| %>
    <article class='post-card'>
      <div>
        <a href='posts/<%=post.id%>'><p><%= post.title %></a></p>
        <p maxlength= 150><%= post.text %></p>
      </div>
      <div class='counters'>
        <p>Comments: <%=post.comments_counter%><br></p>
        <p>Likes: <%=post.likes_counter%><br></p>
      </div>
    <% if post.comments.empty? %>
    <h5>No comments</h5>
    <% else %>
      <% post.recent_comments.each do |comment| %>
        <p><%=comment.author.name%>:</p>
        <p><%=comment.text %></p>
      <% end %>
    <% end %>
    </article>
  <% end %>
</section>

<button type='button' class='pagination_button'>Pagination</button>
<button type='button' class='new_post_button'><%=link_to 'Create a Post', new_user_post_url(@user.id), class: 'new-post-button' %>