<h1>User post</h1>

<table>
  <tbody>
      <tr>
        <td><img alt='This is an image'/></td>
        <td><%= link_to @user.name, @user, class: 'user-name' %></td>
        <td>Number of posts: <%= @user.posts_counter%>
      </tr>
  </tbody>
</table>

    <% @posts.each do |post| %>
         <a href='posts/<%=post.id%>'><p><%= post.title %></a></p>
         <p maxlength= 150><%= post.text %></textarea>
         <p>Comments: <%= post.comments_counter %></p>
         <p>Likes: <%= post.likes_counter %></p>
    <% post.recent_comments.each do |comment| %>
        <div>
          <p><%=comment.text %></p>
        </div>
    <% end %>
    <% end %>
<button>Pagination</button>
