<section>
 <div class='card_container'>
      <img alt='This is an image' src='<%=@user.photo%>' class='user_image'/>
      <div class='user-info'>
        <p><%= link_to @user.name, @user, class: 'user-name' %></p>
        <p>Number of posts: <%= @user.posts_counter%></p>
      </div>
    </div>
</section>

<section>
  <% @posts.each do |post| %>
    <article class='post-card'>
      <div>
        <a href='posts/<%=post.id%>'><p><%= post.title %></a></p>
        <p maxlength= 150><%= post.text %></p>
      </div>
      <div class='counters'>
        <p>Comments: <%=post.comments_counter%><br></p>
        <p>Likes: <%=post.likes_counter%><br></p>
      </div>
    </article>
    <div class='user-comments'>
      <% post.recent_comments.each_with_index do |comment, idx| %>
      <p><%=comment.author.name%>:</p>
      <p><%=comment.text %></p>
      <% end %>
    </div>
  <% end %>
</section>

<button type='button' class='pagination-button'>Pagination</button>
