<div class='back_button_container'>
  <%=link_to 'Home', users_url, class: 'create_button back_button' %>
</div>

<h1>New Post</h1>

<%= form_with model: post, url: user_posts_path, method: :post, local: true, scope: :post do |f| %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

  <%= f.submit "Create Post" %>

<% end %>
