<%=link_to '< Go back', :back, class: 'back-button' %>

<section class='post-container'>
  <div class='post-title'>
    <h3>Post # <%=@post.id%> by <%=@post.author.name%></h3>
    <div class='post-counters'>
      <p>Likes: <%=@post.likes_counter%></p>
      <p>Comments: <%=@post.comments_counter%></p>
    </div>
  </div>
  <p><%=@post.title%></p>
  <p><%=@post.text%></p>
</section>
<% if @post.comments.empty? %>
  <h5>No comments</h5>
<%else %>
  <div class='user-comments'>
    <% @comments.each do |comment| %>
      <p><%= comment.author.name%>: <%= comment.text%></p>
    <%end%>
<%end%>
  </div>
